<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Jiwon: below is original code -->
    <!-- {% if page.title == "Home" %}
    {{ site.title }}{% if site.tagline %} &middot; {{ site.tagline }}{% endif %}
  {% else %}
    {{ page.title }} &middot; {{ site.title }}
  {% endif %} -->
  <title>
    {{ site.title }}

  </title>

  <link rel="stylesheet" href="{{ 'styles.css' | relative_url }}">
  <!-- (선택) Apple 기기용 -->
  <link rel="apple-touch-icon" href="{{ '/assets/favicon-cat.png' | relative_url }}">
  <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/assets/apple-touch-icon-precomposed.png' | relative_url }}"> -->

  <!-- 일반 브라우저용 -->
  <link rel="icon" type="image/png" href="{{ '/assets/favicon-cat.png' | relative_url }}">
  <!-- <link rel="shortcut icon" href="{{ '/assets/favicon.ico' | relative_url }}"> -->
   
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ 'atom.xml' | relative_url }}">

  {% seo title=false %}

  <meta property="og:image" content="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" />
  <meta name="twitter:card" content="summary" />
  <meta name="robots" content="noimageindex">
</head>
